#show-more-contributions, #show-less-contributions {
    width: 150px;
}

#drupal-profile-button{
    width: 230px;
}

#drupal-code-profile-button{
    width: 270px;
}

.drupal-contribution-buttons{
    padding-top: 10px;
}