.menu-icon {
    font-size: 1.8rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    display: none; 
  }

  button{
    transition: ease 0.3s;
  }
  button:hover {
    color: crimson;
  }

@media (max-width: 768px) {
  .menu-icon {
    display: block;
    width: 40px;
    height: 40px;
  }

  button.active {
    display: block;
  }
  
  button.hide{
    display: none;
  }
  
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px; 
    right: 20px;
    background-color: #222;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    z-index: 1000;
 }
  
  nav.show {
    display: flex;
 }
  
  nav a {
    margin: 0.5rem 0;
    color: white;
  }
}