html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f8f9fa;
  color: #333;
  line-height: 1.6;
}
  
header {
  background: #111;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
header h1 {
  margin: 0;
}

header h1:hover {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  transition: ease 0.3s;  
}

nav a:hover {
  text-decoration: underline;
  color: crimson;

}
  
section {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

section a{
  color: #4169e1;
  text-decoration: none;
  transition: ease 0.3s;
}

section a:hover{
  text-decoration: underline;
  color: #1c1ca3;
}
  
.project{
  background: white;
  padding: 1rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  border-radius: 8px;
}
  
footer {
  text-align: center;
  padding: 1rem;
  background: #eee;
  font-size: 0.9rem;
}

.drupal-module-title{
  margin-top: 0;
  margin-bottom: 0;
}

.drupal-contribution-link{
  margin-top: 0;
  margin-bottom: 0;
}

.hidden{
  display: none;
}
