html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #f8f9fa;
  color: #333;
  line-height: 1.6;
}
  
header {
  background: #111;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  
header h1 {
  margin: 0;
}

header h1:hover {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
  transition: ease 0.3s;  
}

nav a:hover {
  text-decoration: underline;
  color: crimson;

}
  
section {
  padding: 2rem;
  max-width: 1000px;
  margin: auto;
}

section a{
  /* color: crimson; */
  /* color: #6161f5; */
  color: #4169e1;
  /* color: #9fc5e8; */
  /* color: #ADD8E6; */
  text-decoration: none;
  transition: ease 0.3s;
}

section a:hover{
  text-decoration: underline;
  color: #1c1ca3;
}
  
.project{
  background: white;
  padding: 1rem;
  border: 1px solid #ddd;
  margin-bottom: 1rem;
  border-radius: 8px;
}
  
footer {
  text-align: center;
  padding: 1rem;
  background: #eee;
  font-size: 0.9rem;
}

.drupal-module-title{
  margin-top: 0;
  margin-bottom: 0;
}

.drupal-contribution-link{
  margin-top: 0;
  margin-bottom: 0;
}

.hidden{
  display: none;
}

/* .test{
  color: #1c1ca3;
} */

.certificates-and-awards-container{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 1.563rem;
  border: 1px solid #cccccc;
  border-radius: 8px;
  justify-content: space-evenly;
}

.card-container{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding: 1.563rem;
  border: 1px solid #cccccc;
  border-radius: 8px;
  max-width: 200px;
}

.card-image{
  width: 200px;
  border: 1px solid #cccccc;
}

.card-title{
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 1.5rem;
}