.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #111;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s ease;
    text-decoration: none;
    opacity: 0.9;
    outline: none;
  }

.scroll-to-top:hover {
    opacity: 1;
  }

.scroll-to-top:focus {
    outline: 3px solid #111;
    outline-offset: 2px;
    box-shadow: 0 0 5px #fff; 
  }